button[type=button]{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(107, 184, 107);
    color: white;
    cursor: pointer; 
}

button[type=button]:hover{
    background-color: rgb(19, 54, 19);
}

input[type=text]{
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid rgb(71, 8, 8);
    width: 60%;
    margin-bottom: 10px;
}

div#todoForm{
    background-color: rgb(189, 216, 240);
    padding: 15px;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

label{
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    font-size: 1.25em;
    width: 20%;
    display: inline-block;
    text-align: right;
}

div#buttonWrapper{
    margin-left:auto;
    margin-right:auto;
    width: 35%;
    margin-top: 15px;
}

.itemDone{
    color:rgb(245, 30, 30);
    text-decoration: line-through;
}